# Import de librerias

In [ ]:
!pip install pyhive sqlalchemy
!pip install thrift
!pip install thrift_sasl
!pip install sqlalchemy pyhive thrift
!pip install psycopg2-binary
!pip install mysql-connector-python
!pip install mariadb
!pip install pymysql
!pip install py4j
!pip install thrift_sasl
!pip install elasticsearch
!pip install langdetect
!pip install googletrans
!pip install deep-translator
!pip install pymongo
!pip install pandas

## PostgresSQL
### Conexion postgre para crear tabla *viviendas*

In [ ]:
import psycopg2
conn_postgre = psycopg2.connect( #Conexion a PostgresSQL
    dbname='postgres',
    user='hive',
    password='password',
    host='localhost',
    port='5432'
)

In [ ]:
conn_postgre.autocommit=True
cursor = conn_postgre.cursor()

# Tabla viviendas
query = """ 
CREATE TABLE viviendas (
    propertyCode INT PRIMARY KEY,
    url VARCHAR(255),
    address VARCHAR(255),
    size FLOAT,
    floor VARCHAR(50),
    province VARCHAR(100),
    municipality VARCHAR(100),
    district VARCHAR(100),
    price FLOAT,
    rooms INT,
    hasLift BOOLEAN,
    hasParking BOOLEAN,
    hasTerrace BOOLEAN,
    hasSwimmingPool BOOLEAN,
    hasAirConditioning BOOLEAN,
    hasGarden BOOLEAN,
    bathrooms INT
);
 """
cursor.execute(query)

### Insercion datos en PostgresSQL

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
conn_postgre_insercion = create_engine('postgresql://hive:password@localhost:5432/postgres')

csv = pd.read_csv(r'../data/structured/vivienda.csv')

csv.to_sql(name='viviendas', con=conn_postgre_insercion, if_exists='replace', index=False)

## MariaDB
### Conexión Mariadb para crear tabla *location*

In [ ]:
import mysql.connector
conn_mariadb = mysql.connector.connect(
    user="root",
    password="my_password",
    host="localhost",
    database="mariaGESDB",
    port="3307"
)

In [ ]:
conn_mariadb.autocommit=True
cursor = conn_mariadb.cursor()
query = query = """ CREATE TABLE location (
    propertyCode INT PRIMARY KEY,
    latitude FLOAT,
    longitude FLOAT
);
 """
cursor.execute(query)

## Inserción datos en Mariadb

In [ ]:
conn_mariadb_insercion = create_engine('mariadb+pymysql://root:my_password@localhost:3307/mariaGESDB')

csv_loc = pd.read_csv(r'../data/structured/location.csv')

csv_loc.to_sql(name='location', con=conn_mariadb_insercion, if_exists='replace', index=False)

## Hive
### Conexión a Hive y creación de tablas para acceso a datos de PostgresSQL y MariaDB

In [ ]:
from pyhive import hive
try:
    conn = hive.Connection(host="hiveserver2", port=10000, username="hive", database="estructurados")
    cursor = conn.cursor()
    cursor.execute("SHOW TABLES")
    print(cursor.fetchall())
except Exception as e:
    print(f"Connection failed: {e}")

### Hive -> PostgresSQL

In [ ]:
cursor.execute('''CREATE EXTERNAL TABLE IF NOT EXISTS VIVIENDAS_IN_POSTGRES (
    propertyCode INT,
    url STRING,
    address STRING,
    size FLOAT,
    `floor` STRING,
    province STRING,
    municipality STRING,
    district STRING,
    price FLOAT,
    rooms INT,
    hasLift BOOLEAN,
    hasParking BOOLEAN,
    hasTerrace BOOLEAN,
    hasSwimmingPool BOOLEAN,
    hasAirConditioning BOOLEAN,
    hasGarden BOOLEAN,
    bathrooms INT
)
STORED BY 'org.apache.hive.storage.jdbc.JdbcStorageHandler'
TBLPROPERTIES (
  "hive.sql.database.type" = "POSTGRES",
  "hive.sql.jdbc.url" = "jdbc:postgresql://hive4-postgres:5432/postgres",
  "hive.sql.dbcp.username" = "hive",
  "hive.sql.dbcp.password" = "password",
  "hive.sql.jdbc.driver" = "org.postgresql.Driver",
  "hive.sql.table" = "viviendas"
)
''')

In [ ]:
import pandas as pd

# Ejecuta tu consulta
cursor.execute('''SELECT * FROM VIVIENDAS_IN_POSTGRES''')

# Obtén los resultados y conviértelos en un DataFrame
resultados = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
df = pd.DataFrame(resultados, columns=column_names)

# Muestra el DataFrame en la notebook
df.head()  # Muestra las primeras filas del resultado

### Hive -> MariaDB

In [ ]:
cursor.execute('''CREATE EXTERNAL TABLE IF NOT EXISTS LOCATION_IN_MARIADB (
    propertyCode INT,
    latitude STRING,
    longitude STRING
      
)
STORED BY 'org.apache.hive.storage.jdbc.JdbcStorageHandler'
TBLPROPERTIES (
  "hive.sql.database.type" = "MYSQL",
  "hive.sql.jdbc.url" = "jdbc:mariadb://hive4-mariadb:3306/mariaGESDB",
  "hive.sql.dbcp.username" = "root",
  "hive.sql.dbcp.password" = "my_password",
  "hive.sql.jdbc.driver" = "org.mariadb.jdbc.Driver",
  "hive.sql.table" = "location"
)
''')

In [ ]:
import pandas as pd

# Ejecuta tu consulta
cursor.execute('''SELECT * FROM LOCATION_IN_MARIADB''')

# Obtén los resultados y conviértelos en un DataFrame
resultados = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
df = pd.DataFrame(resultados, columns=column_names)

# Muestra el DataFrame en la notebook
df.head()  # Muestra las primeras filas del resultado

In [ ]:
cursor.execute('''SELECT md.propertyCode, md.latitude, vp.haslift, vp.url
FROM LOCATION_IN_MARIADB as md 
INNER JOIN VIVIENDAS_IN_POSTGRES as vp 
ON md.propertyCode = vp.propertyCode ''')

# Obtén los resultados y conviértelos en un DataFrame
resultados = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
df = pd.DataFrame(resultados, columns=column_names)

df.head()

# DATOS NO ESTRUCTURADOS

# Preprocesamiento

Primero, traducimos todas las descripciones que están en inglés al español, tras esto eliminamos algunos carácteres especiales como "!", "?" o "²" y ponemos todas las palabras en minúscula.

In [4]:
import pprint
import json
from elasticsearch import Elasticsearch

In [ ]:
import json
from deep_translator import GoogleTranslator

# Cargar el JSON
with open('../data/unstructured/archivo.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

# Traducir las descripciones en inglés a español
for item in data:
    description = item.get("description", "")
    if description:
        # Traducir directamente desde inglés a español
        try:
            translation = GoogleTranslator(source='en', target='es').translate(description)
            item["description"] = translation
            print(f'Description "{description}" ha sido traducida.')
        except Exception as e:
            print(f"Error al traducir '{description}': {e}")

# Guardar el JSON traducido
with open('../data/unstructured/archivo_traducido.json', 'w', encoding='utf-8') as file:
    json.dump(data, file, ensure_ascii=False, indent=4)

print("Traducción completada. Archivo guardado como 'archivo_traducido.json'.")

In [ ]:
import unicodedata

def quitar_tildes(texto):
    # Descomponer los caracteres en su forma base
    texto_normalizado = unicodedata.normalize('NFD', texto)
    # Filtrar y eliminar caracteres diacríticos
    texto_sin_tildes = ''.join(
        char for char in texto_normalizado 
        if unicodedata.category(char) != 'Mn' and char not in '¡!¿?²³¨ºª'
    )
    return texto_sin_tildes.lower()

In [ ]:
# Función para recorrer el JSON y aplicar quitar_tildes a cada descripción
def procesar_json(json_data):
    for item in json_data:
        if "description" in item:
            if item["description"]:
                item["description"] = quitar_tildes(item["description"])
    return json_data

# Ejemplo de uso con un JSON cargado desde un archivo
with open('../data/unstructured/archivo_traducido.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

# Procesar el JSON
data_procesada = procesar_json(data)

# Guardar el JSON procesado en un nuevo archivo
with open('../data/unstructured/archivo_procesado.json', 'w', encoding='utf-8') as file:
    json.dump(data_procesada, file, ensure_ascii=False, indent=4)

## Elasticsearch
### Creamos la conexión con Elasticsearch

In [5]:
# Leer el archivo JSON original
with open("../data/unstructured/archivo_procesado.json", "r") as file:
    documents = json.load(file)

In [2]:
INDEX_NAME = "descripciones_index"

In [5]:
es = Elasticsearch("http://elasticsearch:9200")

### Creación del índice

In [ ]:
mapping = {
     "mappings": {
         "properties": {
             "propertyCode": { "type": "text" }, 
             "description": { "type": "text" }
         }
     }
}
if not es.indices.exists(index=INDEX_NAME):
 es.indices.create(index=INDEX_NAME, body=mapping)
 print(f"Index '{INDEX_NAME}' created with mapping.")
else:
 print(f"Index '{INDEX_NAME}' already exists.")

In [ ]:
es.indices.delete(index=INDEX_NAME)

In [ ]:
from elasticsearch import Elasticsearch, helpers
import json

for doc in documents:
    res = es.index(index=INDEX_NAME, document=doc)
    print(res)

Ejemplo: Buscar todas las descripciones que contengas la palabra "codiciado"

In [ ]:
res = es.search(index=INDEX_NAME, body={
    'query': {
        'match': {
            'description': 'luminoso'
        }
    }
})

print(json.dumps(res.body, indent=4))

QUERIES HACKATHON

¿Cuales son las viviendas cuya descripcion contiene "amplio" con terraza, jardín o piscina?

In [ ]:
res_luminoso = es.search(index=INDEX_NAME, body={
    'query': {
        'match': {
            'description': 'amplio'
        }
    }
})

print(json.dumps(res.body, indent=4))

In [ ]:
import pandas as pd
list_property = []
for hit in res_luminoso['hits']['hits']:
    property_code = hit['_source'].get('propertyCode') 
    list_property.append(property_code)# Accede al campo 'propertyCode'  

property_code_luminoso = pd.DataFrame(list_property, columns=['propertyCode'])
property_code_luminoso.head()

In [ ]:
cursor.execute('''
    SELECT md.propertyCode as propertyCode, vp.hasTerrace as hasTerrace, vp.hasGarden as hasGarden,
        vp.hasSwimmingPool as hasSwimmingPool, md.latitude as latitude, md.longitude as longitude
    FROM LOCATION_IN_MARIADB as md 
        INNER JOIN VIVIENDAS_IN_POSTGRES as vp 
            ON md.propertyCode = vp.propertyCode 
    WHERE vp.hasTerrace= TRUE OR vp.hasGarden = TRUE OR vp.hasSwimmingPool = TRUE''')

# Obtén los resultados y conviértelos en un DataFrame
resultados = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
df = pd.DataFrame(resultados, columns=column_names)

df.head()

In [ ]:
df['propertycode'] = df['propertycode'].astype(str)
property_code['propertyCode'] = property_code['propertyCode'].astype(str)

# Filtra las filas de df donde propertyCode esté en property_code
filtered_df = df[df['propertycode'].isin(property_code['propertyCode'])]

# Muestra las primeras filas del resultado filtrado
filtered_df.head()

¿Cúal es el precio medio en viviendas a reformar (descripcion) de mas de 100m2 y 3 habitaciones?

In [ ]:
res_reformar = es.search(index=INDEX_NAME, body={
    'query': {
        'match': {
            'description': 'a reformar'
        }
    }
})


print(json.dumps(res.body, indent=4))

In [ ]:
list_property = []
for hit in res_reformar['hits']['hits']:
    property_code = hit['_source'].get('propertyCode')
    list_property.append(property_code)# Accede al campo 'propertyCode'


property_code_reformar = pd.DataFrame(list_property, columns=['propertyCode'])
property_code_reformar.head(10)

In [ ]:
import pandas as pd
cursor.execute('''
    SELECT vp.propertyCode as propertyCode, vp.price as price
    FROM VIVIENDAS_IN_POSTGRES as vp 
    WHERE vp.size > 100 AND vp.rooms = 3''')

# Obtén los resultados y conviértelos en un DataFrame
resultados = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
df = pd.DataFrame(resultados, columns=column_names)

df.head(10)

In [ ]:
df['propertycode'] = df['propertycode'].astype(str)
property_code_reformar['propertyCode'] = property_code_reformar['propertyCode'].astype(str)

# Filtra las filas de df donde propertyCode esté en property_code
filtered_df_reformar = df[df['propertycode'].isin(property_code_reformar['propertyCode'])]

# Muestra las primeras filas del resultado filtrado
filtered_df_reformar.head()

print(f"La media es {filtered_df_reformar['price'].mean()} €")

¿Cuál es la media y la desviacion tipica del precio por m2 en casas con piscina que contengan en la descripción "luminoso" y esten a menos de 10 Km del Parque del Retiro?

In [ ]:
res_luminoso = es.search(index=INDEX_NAME, body={
    'query': {
        'match': {
            'description': 'luminoso'
        }
    }
})

print(json.dumps(res.body, indent=4))

In [ ]:
list_property = []
for hit in res['hits']['hits']:
    property_code = hit['_source'].get('propertyCode')
    list_property.append(property_code)# Accede al campo 'propertyCode'


property_code_luminoso = pd.DataFrame(list_property, columns=['propertyCode'])
property_code_luminoso.head()

In [ ]:
cursor.execute('''
    SELECT vp.propertyCode as propertyCode, vp.price as price, md.latitude as latitude, md.longitude as longitude, vp.size as size
    FROM LOCATION_IN_MARIADB as md 
        INNER JOIN VIVIENDAS_IN_POSTGRES as vp ON vp.propertyCode = md.propertyCode
    WHERE vp.hasSwimmingPool = TRUE''')

# Obtén los resultados y conviértelos en un DataFrame
resultados = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
df = pd.DataFrame(resultados, columns=column_names)

df.head()

In [ ]:
df['propertycode'] = df['propertycode'].astype(str)
property_code_luminoso['propertyCode'] = property_code_luminoso['propertyCode'].astype(str)

# Filtra las filas de df donde propertyCode esté en property_code
filtered_df_luminoso = df[df['propertycode'].isin(property_code_luminoso['propertyCode'])]

# Muestra las primeras filas del resultado filtrado
filtered_df_luminoso.head()

In [ ]:
!pip install geopy

In [ ]:
from geopy.distance import geodesic

loc_retiro = (40.41553, -3.68447)

# Función para calcular la distancia al Retiro
def distancia_al_retiro(row):
    propiedad_coords = (row['latitude'], row['longitude'])
    return geodesic(loc_retiro, propiedad_coords).kilometers

# Aplica la función para calcular la distancia sin convertir toda la serie a un entero
filtered_df_luminoso['distancia_retiro'] = filtered_df_luminoso.apply(distancia_al_retiro, axis=1)

# Calcula el precio por m2
filtered_df_luminoso['precio_por_m2'] = filtered_df_luminoso['price'] / filtered_df_luminoso['size']

print(filtered_df_luminoso.head())

# Filtra las propiedades a menos de 10 km del Retiro
filtered_df_luminoso = filtered_df_luminoso[filtered_df_luminoso['distancia_retiro'] < 10]

# Muestra los primeros resultados para ver si el código funciona correctamente
filtered_df_luminoso.head()


print(f"\nLa el precio medio por m2 es: {filtered_df_luminoso['precio_por_m2'].mean()} € y la desviacion tipica es: {filtered_df_luminoso['precio_por_m2'].std()}")